*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.none {
	text-decoration: none;
}

.loader {
	display: flex;
	align-items: center;
	justify-content: center;
}

.span {
	margin-right: 10px;
	font-weight: 700;
}

.text-area {
	outline: none;
	border: 1px solid #054da7;
	padding: 12px 15px;
	font-family: 'Roboto', sans-serif;
	border-radius: 8px;
	resize: none;
}
